*{
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main{
	height: 750px;
	min-width: 600px;
	max-width: auto;
	/*border: 1px solid red;*/
	display: grid;
	grid-template-rows: 1fr 1fr 6fr;
	font-family: 'Roboto', sans-serif;
}
.header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: black;
	align-items: center;
	padding-left: 100px;
	height: 60px;

}
.flick{
	color: white;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
}
.flick a{
	color: white;
	text-decoration: none;
}
.flick a:hover{
	color: grey;
}

.search{
	height: 40px;
	width: 400px;
	border-radius: 3px;
	outline: none;
	background-color: lightgrey;
}
.icon-sprite{
	display: inline-flex;
    background-color: transparent;
    background-image: url(../icon-sprite.svg);
    width: 25px;
    height: 25px;
}
.log{
	display: inline-flex;
	justify-content: space-evenly;
}
.log a{
	color: white;
	text-decoration: none;
}
.log a:hover{
	color: grey;
}
.details{
	display: inline-flex;
	/*border: 1px solid lightgrey;*/
	height: 30px;
	width: 30px;
	margin-top: -13px;
}
 .data{
 	background-position-x:338px;
 	background-position-y:-378px;  
 }
 .size{
 	height: 30px;
 	width: 30px;
 }
 .size{
 	transform: scale(1.7);
 }

 .sign{
 	display: inline-flex;
 	color: white;
 }
 .option{
 	display: grid;
 	grid-template-rows: 1fr 1fr ;
 	grid-template-columns: 1fr 1fr 1fr;
 	height: 70px;

 }
 .select{
 	color: #757575;
 	background-color: none;
 	display: inline-flex;
 	font-size: larger;
 	font-weight: bold;
 	padding-left: 130px;
 	justify-content: space-between;
 	border-bottom: 1px solid lightgrey;
 }
.select h3:hover{
   color: black;
}
 .color{
 	display: inline-flex;
 	grid-area: 2/2/3/3;
 	border-top: 1px solid lightgrey;
 	align-items: center;
 }
 .advance{
 	grid-area: 2/3/4/4;
 	color: #909FBE;
 	text-align: center;
 	border-top: 1px solid lightgrey;
 }
 .images{
 	height: 200px;
 	width: 100%;
    display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	grid-gap: 8px;
	padding-left: 100px;
	padding-right: 100px;
   }
img{
	flex-grow: 1;
object-fit: cover;
}
